.containerbody {
    background: linear-gradient(283.67deg, rgba(245, 245, 245, 0.35) 0.63%, rgba(220, 199, 212, 0.66) 50.07%, rgba(220, 199, 212, 0.59) 72.37%, #F5F5F5 81.09%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Adjust as needed */
    padding-top: 90px;
  }
  
  .containerbody h1 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .containerbody h5 {
    margin-bottom: 20px;
    text-align: center;
    font-size: medium;
  }
  
  .containerbody button {
    background-color: #EB5757;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .containerbody button:hover {
    background-color: white;
     color:#806262;
  }
  
  .containerbody img {
    width: 800px; 
    height: auto; 
    margin-top: -110px; 
  }
footer{
    display: flex;
    flex-direction: row;
    margin-top: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add bottom border shadow */
    
}
.dofooter img{
    border-radius: 50%;
    height: 40px;
    width: 40px;
}
.dofooter{
    margin: 10px;
    margin-top: -10px;
}


.stars i {
    color: #E2B93B; 
    font-size: 20px; 
    margin-left: 5px; 
    gap: 10px;
  }
 .stars{
    display: flex;
    justify-content: flex-end;
    margin-left: 60%;
 } 

 .layer-two{
    width: 100%;
    background-color: grey;
    margin: auto;
    padding: auto;
 }
 .two{
    margin: auto 20%;
    align-items: center;
    margin-top: 40px;
 }
 .par{
    margin: 20px;
    padding: 20px;
    margin-bottom: -20px;
 }
 .paral{
    margin: 60px;
 }
 .paral h4{
    font-weight: 100;
}