@import url('https://fonts.googleapis.com/css?family=Roboto');

.body {
  width: 100%;
  max-width: 80%;
  margin: auto;
  background: linear-gradient(to top, #e773eb, #f2aff5, #fac4ee, #e965d3);
  backdrop-filter: blur(5px);
  font-family: 'Roboto';
}

.auth-cont {
  background: #ffffff;
  width: 90%;
  height: 90vh;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
}
.inputs-box {
  padding-top: 2em;
  width: 100%;
  color: #990674;
  position: relative;
}

.info-bar {
  width: 32%;
  height: 100%;
  background: #990674;
  margin-right: 2em;
  /* border-radius: 0 0 20% 0; */
  display: block;
  color: #ffffff;

  border-radius: 5px 0 0 0;
  overflow: hidden;
  position: relative;
  /* --mask: radial-gradient(100px at 100% 100%,#0000 98%,#000);
    -webkit-mask: var(--mask);
            mask: var(--mask);   */
  --top: linear-gradient(#000 0 0) top/100% calc(100% - 50px) no-repeat,
    radial-gradient(farthest-side, #000 98%, #0000) bottom/100px 100px no-repeat;
  -webkit-mask: var(--top);
  mask: var(--top);
}

/* .info-bar:after{
    content: '';
    position: absolute;
    display: block;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background:#ffffff;
    z-index: 1;
    transform-origin: bottom left;
    transform: skew(-65deg, 0deg);
     
} */

.auth-info-body {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin: 8em 2em 2em 2em;
}

.auth-info-body p{
    font-size: small;
    font-weight:lighter;
}
.auth-info-body button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10em;
    height: 40px;
    background: transparent;
    color: #fff;
    border-radius: 6px;
    font-size: 16px;
    border: 1px solid #f1ebeb;
    cursor: pointer;
    margin-top: 1em;

}

.logoAndTagline{
    display: block;
    margin: auto;
    text-align: center;
    align-items:center;
    justify-content: center;
    margin-top: 2em;
}
.auth-input {
  margin-top: 1em;
  padding: 10px;
  padding-left: 0;
  font-size: 18px;
  border: none;
  outline: none;
  border-bottom: 2px solid #990674;
}

::placeholder{
    color: #990674;
    opacity: 0.7;
    font-size: small;
}
.auth-headline {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 10px;
}
input {
  width: 100%;
  /* padding-top: 10px; */
  /* margin-top: 10px; */
  font-size: 18px;
  border: none;
  outline: none;
}
.submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10em;
  height: 40px;
  background: #990674;
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
  border-color: transparent;
  cursor: pointer;
  transition: background 0.3s ease;
}
