.NavbarItems{
    background: #daebc3;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}
.navbar-logo{
    color: #9C13BE;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
}

.nav-menu{
    display: grid;
    grid-template-columns: repeat(5,auto);
    grid-gap: 60px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: center;
}

.nav-links{
    color:black;
    text-decoration: none;
}
.nav-links:hover{
    background-color: #9C13BE;
    border-radius: 3px;
    transition: all 0.2s ease-out;
    padding: 10px 20px; 
    border-radius: 5px; 
    color: aliceblue;
}

.menu-icon{
    display: none;
}
.nav-links-mobile {
    color: #9C13BE; 
    border: 2px solid #9C13BE;
    padding: 10px 20px; 
    border-radius: 5px; 
    text-decoration: none; 
}

.nav-links-mobile:hover {
    background-color: #9C13BE; 
    color: white; 
}

.nav-links-mobile-alone {
    background-color: #9C13BE; 
    color: white; 
    padding: 10px 20px; 
    border-radius: 5px; 
    text-decoration: none; 
}

.nav-links-mobile-alone:hover {
    background-color: #6A097D; 
}



/*smaller screens*/
@media screen and (max-width: 768px) {
    .NavbarItems {
        background: #daebc3;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.2rem;
        position: relative; /* Add position relative */
    }

    .navbar-logo {
        color: #9c13be;
        margin: 20px 0;
        cursor: pointer;
    }

    .menu-icon {
        display: block;
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 1.5rem;
        cursor: pointer;
        z-index: 2;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
        background: #daebc3;
        border-radius: 10px; 
        padding: 20px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-links {
        color: black;
        text-decoration: none;
        padding: 10px 0;
    }

    .nav-links:hover {
        background-color: #4c4c6e;
        border-radius: 3px;
        transition: all 0.2s ease-out;
    }
}
