.quiz-container {
    margin: 2px auto;
    padding: 10px; /* Reduce padding to make content more compact */
    border-radius: 10px;
    margin-top: 90px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding-right: 50px;
  }
  
  .quiz-container h2 {
    font-size: 15px; /* Reduce font size to make text smaller */
    margin-bottom: 10px; /* Reduce margin to make elements closer */
    font-weight: normal;
    text-align: justify;
  }
  
  .quiz-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: flex-start; /* Center items horizontally */
  }
  
  .quiz-option-container {
    background-color: #fff;
    padding: 10px; /* Reduce padding to make content more compact */
    margin: 5px; /* Reduce margin to make elements closer */
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .quiz-option-container:hover {
    background-color: #f0f0f0;
  }
  
  .quiz-option-container h3 {
    margin: 0;
  }
  
  .quiz-option-container.correct {
    background-color: #9C13BE;
    color: #fff;
  }
  
  .quiz-option-container.incorrect {
    background-color: #db4f4a;
    color: #fff;
  }
  
  .quiz-nav {
    display: flex;
    justify-content: space-between;
    margin-top: 10px; /* Reduce margin to make elements closer */
  }
  
  .quiz-nav button {
    background-color: #9C13BE;
    width: 100px; /* Reduce width of buttons */
    color: #fff;
    border: none;
    padding: 5px 10px; /* Reduce padding to make buttons smaller */
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .quiz-nav button:hover {
    background-color: #becac4;
    color: #9C13BE;
  }
  
  .results-container {
    text-align: center;
    margin-top: 10px; /* Reduce margin to make elements closer */
  }
  
  .results-container h1 {
    font-size: 1.5rem; /* Reduce font size to make text smaller */
    margin-bottom: 5px; /* Reduce margin to make elements closer */
  }
  
  .result-container {
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px; /* Reduce margin to make elements closer */
  }
  
  .result-container h1 {
    font-size: 2rem; /* Reduce font size to make text smaller */
    margin: 0;
  }
  
  .result-container.success {
    background-color: #4cceac;
    color: #fff;
  }
  
  .result-container.failure {
    background-color: #db4f4a;
    color: #fff;
  }
  
  
  @media (max-width: 768px) {
    .quiz-container {
      padding: 10px;
    }
  
    .quiz-options {
      align-items: center;
    }
  
    .quiz-option-container {
      width: 80%;
      margin: 10px auto;
    }
  
    .quiz-nav button {
      width: 100%;
      margin-top: 10px;
    }
  }